/*@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";*/

@media (min-width: 1200px) { 
  .carousel-inner img {
    width:100%;
    margin-top: 10px;
  
    /*
    
    height: 100%;*/
  } }

/* Make the image fully responsive */
  .carousel-inner img {
  	margin-top: 10px;
  
    /*
    
    height: 100%;*/
  }
  .carouselImg{
    width:100%;
  }

  .carousel-item  {
   /* width:100%;*/
  }
  
  .carousel-caption{
  	/*margin-top: 100px;
  	position: relative;
 	top:300px;
 	left:0px;*/
  }
 #demo{
 	/*position: relative;
 	top:-400px;
 	left:0px;*/

 	 /* Add a top margin to avoid content overlay */
 
 }

/* .logo{
 	float:left ;
 }
 .navbarTogglerDemo02{
 	float:right ;
 }*/
 .navbar{

 	position: fixed; /* Set the navbar to fixed position */
  top: 0;
 	opacity: 0.95;
 	z-index: 100;
 	background: gray !important;
 	width:100%;
 	border-bottom: 2px solid black ;

 }

 /*li:before{
 	
 	content: &raquo;
    display: block;
    float: left;
    width: 1.2em;
 }*/

/* #logo{
  margin:2px;
  height:20px;
}*/

  img {
    
    opacity: 0.85;
    
    z-index: -1;
}

.navbar-inner {
    /*background:white;*/
    
}
.navbar-brand{

	 /*text-transform: uppercase;*/
	font-family: 'Neuton', serif;
	
}


h3{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

body{
	min-height: 75rem;
  padding-top: 4.5rem;
	font-family: 'Open Sans', sans-serif;
	width:100%;
}
h5.counter {
        font-size: 1.5em;
        margin: 0;
    }

    p.para-w3pvt {
        font-size: 1em;
        margin-left: 0.5em;
    }

.services {
    background: url('https://www.w3schools.com/bootstrap4/la.jpg') no-repeat top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    color:white;
    opacity: 0.85;
}
.testmonials {
    background: url('https://www.w3schools.com/bootstrap4/la.jpg') no-repeat top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.testimonials-gd-vj {
    box-shadow: 0px 0px 18.69px 2.31px rgba(98, 98, 103, 0);
    background: #fff;
}

.banner_bottom{
	background:#f7f7f7;
}

.blog-grid-img img {
    border-radius: 0px;
}

.blog-grid-info {
    background: #212529;
}

footer, .copy_right{
	background: #222;
	color: white;
}